.navbar-wrapper {
  background-color: var(--pomodoro-primary-color);
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 1.25rem;
}
.filter-icon {
  color: var(--txt-white);
  font-size: 1.25rem;
  cursor: pointer;
  padding: 8px;
  margin-right: 2.18rem;
  border: 1px solid var(--pomodoro-primary-color);
}

.navbar-wrapper {
  margin-top: 0px;
  border-radius: 0px;
}
[data-tooltip] {
  position: relative;
  cursor: default;
}
[data-tooltip]::after {
  position: absolute;
  width: fit-content;
  right: calc(20% - 20px);
  top: 95%;
  text-align: center;
  box-sizing: border-box;
  color: var(--txt-black);
  background-color: var(--txt-white);
  border: 1px solid var(--pomodoro-primary-color);
  padding: 3px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  font-weight: bold;
  transform: translateX(10px);
  transition: opacity 0.3s, transform 0.2s;
  content: attr(data-tooltip);
}
[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
